/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * roc-grotesk:
 *   - http://typekit.com/eulas/00000000000000007735b7c5
 *   - http://typekit.com/eulas/00000000000000007735b7cc
 *   - http://typekit.com/eulas/00000000000000007735b7d0
 *
 * © 2009-2024 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2024-04-09 10:25:42 UTC"}*/

@import url("p.css");

@font-face {
font-family:"roc-grotesk";
src:url("") format("woff2"),url("") format("woff"),url("") format("opentype");
font-display:auto;font-style:normal;font-weight:200;font-stretch:normal;
}

@font-face {
font-family:"roc-grotesk";
src:url("") format("woff2"),url("") format("woff"),url("") format("opentype");
font-display:auto;font-style:normal;font-weight:300;font-stretch:normal;
}

@font-face {
font-family:"roc-grotesk";
src:url("") format("woff2"),url("") format("woff"),url("") format("opentype");
font-display:auto;font-style:normal;font-weight:500;font-stretch:normal;
}

.tk-roc-grotesk { font-family: "roc-grotesk",sans-serif; }
